:root {
  --dark-bg: #1f2937;
	--main-text: #f9faf8;
	--secondary-color: #e5e7eb;
	--button-color: #3882f6;
	--info-quote: #1f2937;
}

* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

nav {
	height: 70px;
	width: 100%;
  background-color: var(--dark-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .logo {
	color: var(--main-text);
	font-weight: 700;
	font-size: 24px;
	margin-left: 11%;
	text-decoration: none;
}

.nav-list {
	display: inline-block;
	margin-right: 11%;
	width: 450px;
}

.nav-list ul {
	display: flex;
	justify-content: space-between;
	color: var(--secondary-color);
	font-size: 18px;
	list-style: none;
	padding: 0;
}

.nav-list li {
	width: 130px;
	background-image: url(../img/cookie.png);
	background-repeat: no-repeat;
	background-position: 0px 15px;
	padding-left: 30px;
}

main {

}

main .welcome {
	height: 465px;
	width: 100%;
	background-color: var(--dark-bg);
	padding-top: 90px;
}

.welcome img {
	width: 30%;
	margin-right: 11.7%;
	float: right;
}

.welcome .welcome-flex {
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	padding-left: 11%;

}

h1 {
	color: var(--main-text);
	font-weight: 900;
	font-size: 48px;
	margin: 0;
}

.welcome-flex p {
	color: var(--secondary-color);
}

.welcome a {
	color: var(--main-text);
	font-size: 24px;
	font-weight: 700;
	width: 130px;
	height: 40px;
	background-color: var(--button-color);
	padding: 5.5px 29.5px;
	border-radius: 8px;
	text-decoration: none;
}

.specials {
	width: 100%;
}

.specials h2 {
	color: var(--dark-bg);
	font-weight: 900;
	font-size: 48px;
	text-align: center;
	margin: 40px 0 60px 0;
}	

.specials-flex {
	display: flex;
	margin: 0 20% 4% 20%;
	justify-content: space-around;
}

.specials-flex div {

}

.specials-flex img {
	width: 160px;
	height: 160px;
	border: 4px solid var(--button-color);
	border-radius: 10px;
}

.specials-flex p {
	font-size: 18px;
}

.quote {
	background-color: var(--secondary-color);
	width: 100%;
}

.quote blockquote {
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	padding: 140px 25% 140px 25%;
	margin: 0;
}

blockquote footer {
	text-align: right;
}

blockquote footer::before {
	content: '\2014 \00AD';
	text-align: right;
}

.follow-section {
	width: 1025px;
	height: 150px;
	margin: 100px auto;
	padding-left: 120px;
	padding-top: 55px;
	background-color: var(--button-color);
	color: var(--main-text);
	border-radius: 10px;
}

.follow-section a {
	float: right;
	color: var(--main-text);
	border: 2px solid var(--main-text);
	font-size: 24px;
	font-weight: 700;
	width: 130px;
	height: 40px;
	margin-right: 120px;
	padding-top: 5px;
	background-color: var(--button-color);
	border-radius: 8px;
	text-decoration: none;
	text-align: center;
}

.follow-section p {
	margin: 0;
	padding: 0;
}

.follow-section p:first-of-type {
	font-size: 24px;
	font-weight: 700;
}

.copyright {
	width: 100%;
	height: 100px;
	background-color: var(--dark-bg);
	color: var(--secondary-color);
}

.copyright div {
	height: 100%;
	text-align: center;
}

.copyright div p {
	margin: 0;
	padding-top: 40px;
}
